.container
  .header
    .header__contents.flex
      .header__contents__left
        .header__contents__left__logo
          = link_to "/"  do
            = image_tag 'logo/Wine-Me-icon.png', width: "130px"
      .header__contents__right
        .header__contents__right__upper
          %h2.header__contents__right__upper__copy
            あなたのお気に入りのワイン、教えてください
          .header__contents__right__upper__search
            = form_with url: "#", local: true, method: :get, class: "search-form" do |f|
              = f.text_field :keyword, placeholder: "キーワードで検索", class: "search-input input"
              .header__contents__right__upper__submit-btn
                = f.label :search, class: "submit-btn-icon" do
                  = f.submit class: "search-btn input" do
                    = icon('fas', 'search')
        .header__contents__right__lower
          %ul.header__contents__right__lower__lists
            %li
              種類
            %li
              品種
            %li
              産地
            %li
              シーン
            %li
              味わい
            %li
              詳細検索
            %li
              ログイン
.content
  .side__bar
  .content__main
    ここに投稿一覧を表示
